[submodule "Code/stm32-cmake"]
	path = External/stm32-cmake
	url = https://github.com/ObKo/stm32-cmake.git
[submodule "Code/fuzztest"]
	path = External/fuzztest
	url = https://github.com/google/fuzztest.git
[submodule "External/lcov-badge"]
	path = External/lcov-badge
	url = https://github.com/freejosh/lcov-badge.git
[submodule "External/TTF2BMH-fork"]
	path = External/TTF2BMH-fork
	url = https://github.com/enzoevers/TTF2BMH.git
