[Unit]
Description=Led matrix driver clock application
DefaultDependencies=false

[Service]
Type=oneshot
ExecStart=/home/pi/Documents/LedMatrixBusLargeDriver/demo/ledMatrixDriver_demo_RaspberryPi
Restart=no

[Install]
WantedBy=sysinit.target